__pycache__/
src/Classifier/Datasets/validation_set/*
src/Classifier/Datasets/training_set/*
src/Classifier/Datasets/
!src/Classifier/Datasets/training_set.csv
!src/Classifier/Datasets/validation_set.csv
src/Classifier/Models/*
*.png