__pycache__/
src/Tracking/videos/*
src/Classifier/Datasets/validation_set/*
src/Classifier/Datasets/training_set/*
src/Classifier/Datasets/
!src/Classifier/Datasets/training_set.csv
!src/Classifier/Datasets/new_training_set.csv
!src/Classifier/Datasets/validation_set.csv
src/Classifier/Models/*
src/Classifier/classifierTest.py
*.mp4
*.png
*.jpg